@{
    ViewData["Title"] = "PokeAPI";
    var listaDetalles = (List<PokemonDetalle>)ViewBag.ListaDetalles;
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a tu Poke API</h1>
</div>

@foreach (var item in listaDetalles)
{
    <div class="card" style="width:240px; height:420px; display:inline-block; margin:5px;">
        <img class="card-img-top" src="@item.Sprites.Front_default" alt="Card image cap">
        <div class="card-block text-center">
            <h4 class="card-title">@item.Name</h4>
            <p class="card-text"> #@item.Order </p>
            <ul>
                @foreach (var tipos in item.Types)
                {
                    <li>@tipos.Type.Name </li>

                    @*esto es para ordenar el tamaño*@
                    @if (item.Types.Count == 1)
                    {
                        <li></li>
                    }
                }
            </ul>            
        </div>
    </div>
}
